<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PinCodeCamp</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        /* ---- grid ---- */
        .grid {
          max-width: 100%;
        }

        /* clearfix */
        .grid:after {
          content: '';
          display: block;
          clear: both;
        }

        /* fluid 5 columns */
        .grid-sizer,
        .grid-item { width: 20%; }
                
        .grid-image {
            display: block;
            max-width: 200px;
        }
                
        .card {
            margin: 2%;
        }
        
        .btn-app-login {
            margin-top: 2px;
            margin-bottom: 2px;
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: #6cb7f0;
        }
    </style>    
</head>
<body>
<header>
    <!--Navbar-->
    <nav class="navbar navbar-dark green navbar-fixed-top">
        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="/">PinCodeCamp</a>
                <!--{{#authenticated}}-->
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/yourbooks">My Pins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trades">Add</a>
                    </li>
                </ul>
                <!--{{/authenticated}}-->
                <!--{{^authenticated}}-->
                <!--Signup-->
                <ul class="nav navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logout</a>
                    </li>
                </ul>
                <!--{{/authenticated}}-->
                <!--{{#authenticated}}-->
                <!--{{/authenticated}}-->
            </div>
        </div>
    </nav>
</header>
<main class="p-t-6">
    <!--Main layout-->
    <div class="container">
        <!--Login row-->
        <div class="row">
            <div class="col-md-12">
                <!--Heading -->
                <h2 class="h2-responsive text-xs-center">Add</h2>
            </div>
        </div>
        <form action="/login" method="post">
        <!--Username row-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <!--Username -->
                <div class="md-form">
                    <i class="fa fa-desktop prefix"></i>
                    <input type="text" name="username" class="form-control">
                    <label for="form2">Image url</label>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!--Password row-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <!--Password -->
                <div class="md-form">
                    <i class="fa fa-commenting prefix"></i>
                    <input type="password" name="password" class="form-control">
                    <label for="form2">Image Description</label>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!--Submit row-->
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <button type="submit" class="btn btn-default btn-lg">Submit</button>
            </div>
        </div>
        </form>
    </div>    
</main>
<!--Footer-->
<footer class="page-footer green text-xs-center">
    <div class="container-fluid">©2016 Bonetti, Mauricio</div>
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>