<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PinCodeCamp</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        /* ---- grid ---- */
        .grid {
          max-width: 100%;
        }

        /* clearfix */
        .grid:after {
          content: '';
          display: block;
          clear: both;
        }

        /* fluid 5 columns */
        .grid-sizer,
        .grid-item { width: 20%; }
                
        .grid-image {
            display: block;
            max-width: 200px;
        }
                
        .card {
            margin: 2%;
        }
        
        .btn-app-login {
            margin-top: 2px;
            margin-bottom: 2px;
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: #6cb7f0;
        }
    </style>    
</head>
<body>
<header>
    <!--Navbar-->
    <nav class="navbar navbar-dark green navbar-fixed-top">
        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="/">PinCodeCamp</a>
                {{#user}}
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/pin/yours">My Pins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pin/add">Add</a>
                    </li>
                </ul>
                {{/user}}
                <!--Signup-->
                <ul class="nav navbar-nav nav-flex-icons">
                    {{^user}}
                    <!--Twitter-->
                    <li class="nav-item">
                        <a class="btn btn-tw btn-app-login" href="/login/twitter"><i class="fa fa-twitter left"></i>Login</a>
                    </li>
                    {{/user}}
                    {{#user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{/user}}
                </ul>
                
            </div>
        </div>
    </nav>
</header>
<main class="p-t-6">    
    {{#message}}
        <!--Message row-->
        <div class="row">
            <div class="col-md-12">
                <p class="text-xs-center" style="color:#CC0000">{{message}}</p>
            </div>
        </div>
    {{/message}}
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#pins}}
        <div class="grid-item">
            <!--Book-->
            <div class="card card-block">
                <!--Book image-->
                <img class="grid-image" src="{{url}}" onerror="this.onerror=null;this.src='https://avatars0.githubusercontent.com/u/9892522?v=3&s=200';" />
                <!--Book content-->
                <div class="card-block">
                    <!--Text-->
                    <p class="card-text">{{description}}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ownerImage}}"/>
                        </div>
                        <div class="col-md-8">
                            <i style="display:inline" class="fa fa-hand-peace-o" aria-hidden="true"></i>&nbsp;<span>4</span>
                        </div>
                    </div>
                    {{#enableDelete}}
                    <div class="row">
                        <div class="col-md-12 text-xs-center">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </div>
                    {{/enableDelete}}
                </div>
            </div>
        </div>
        {{/pins}}
    </div>
</main>
<!--Footer-->
<footer class="page-footer green text-xs-center">
    <div class="container-fluid">©2016 Bonetti, Mauricio</div>
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Masonry -->
<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script>
$(window).load(function(){
    $(".grid").masonry({
        itemSelector: ".grid-item",
        columnWidth: ".grid-sizer",
        percentPosition: true
    });
});

</script>    
</body>
</html>